body {
  margin: 0;
  background-color: rgb(3, 3, 116);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fcff63;
  padding: 1%;
  height: 117px;

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5vw;
  
}

a {
  font-family: 'Nunito', sans-serif;;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  
}

section {
display: flex;
flex-direction: column;
  position: relative;
  z-index: 10;
 background-image: url('./img/cikk-backgrou-ici-piciezgif-3-0c96186ed5.jpg');

  box-shadow: -2px 15px 5px -6px rgba(0,0,0,0.52);
  -webkit-box-shadow: -2px 15px 5px -6px rgba(0,0,0,0.52);
  -moz-box-shadow: -2px 15px 5px -6px rgba(0,0,0,0.52);
   padding-bottom: 30%; /*18%cuz of mobile screen height*/
}


.link-padding {
  margin-bottom: 6px/*19px3.5%*/;
  
}

.logo {
  width: 10vw;
  
  
}

.nav__logo {
  width: 7vw;
 
}

.grid-container {
  background-color: transparent /*blueviolet*/;
  width: 2vw;
  height: 4.6%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  margin-right: 10vw;
  margin-bottom: 45px;
  
}

.grid-container > img {

 padding: 5px;
 background: rgb(248,255,60);
background: linear-gradient(90deg, rgba(248,255,60,0.894642891336222) 14%, rgba(255,253,171,1) 100%);
 border-radius: 166px 166px 166px 166px;
-webkit-border-radius: 166px 166px 166px 166px;
-moz-border-radius: 166px 166px 166px 166px;
border: 1px solid rgb(37, 37, 3)/*rgba(0, 0, 0, 0.351)*/;

box-shadow: 0px 0px 0px 3px rgba(236,239,86,1);
-webkit-box-shadow: 0px 0px 0px 3px rgba(236,239,86,1);
-moz-box-shadow: 0px 0px 0px 3px rgba(236,239,86,1);

}

.a-container {
  margin-top: 7px;
  visibility: hidden;
  opacity: 0;
  transition: 1s;
  position: relative;
  z-index: 2;
}

.a-container > a > img {
  padding: 5px;
  background: rgb(248,255,60);
  background: linear-gradient(90deg, rgba(248,255,60,0.894642891336222) 14%, rgba(255,253,171,1) 100%);
   border-radius: 166px 166px 166px 166px;
  -webkit-border-radius: 166px 166px 166px 166px;
  -moz-border-radius: 166px 166px 166px 166px;
  border: 1px solid rgb(37, 37, 3)/*rgba(0, 0, 0, 0.351)*/;
  
  box-shadow: 0px 0px 0px 3px rgba(236,239,86,1);
  -webkit-box-shadow: 0px 0px 0px 3px rgba(236,239,86,1);
  -moz-box-shadow: 0px 0px 0px 3px rgba(236,239,86,1);
}

.grid-container:hover .a-container {
  visibility: visible;
  opacity: 1;
  position: relative;
  z-index: 2;
}
/*aaaaaaaaaaaaaaaaaaaaaaaaaaaa*/



.article-itself {
  position: relative;
  padding: 1.5%;
  border-radius: 5px;
  background-color: rgb(217, 228, 238);
  width: 70%;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.article-img {
  width: 28%;
  float: left;
  margin-right: 2%;
}

.article-text {
margin:0;
font-family: 'Balsamiq Sans', sans-serif;
font-size: 1.5rem;
line-height: 2rem;
}


.title-rotate {
  position: absolute;
 left: -50px;
 top: -29px;
  
 display: inline-block;
  background-color: #e4e731;
  transform: rotate(3deg);
  border-radius: 5px;
  padding: 0.2%;
  padding-left: 0.5%;
  padding-right: 0.5%;
 
}


.title-rotate p {
 font-size: 1.6rem;
 line-height: 2rem;
  margin: 0;
  font-family: 'Balsamiq Sans', sans-serif;
  font-weight: 600;
  color: rgb(64, 68, 32);
}

.icon {
  float: right;
 margin-top: -1%;
 background-color: rgba(27, 84, 240, 0.442);
  border-radius: 50%; 
  fill: rgb(217, 228, 238);
  transition: 0.6s
}

.icon:hover {
  background-color: rgba(55, 105, 244, 0.442);
  box-shadow: 0px 0px 4px 2px rgba(27,84,240,0.81);
  -webkit-box-shadow: 0px 0px 4px 2px rgba(27,84,240,0.81);
  -moz-box-shadow: 0px 0px 4px 2px rgba(27,84,240,0.81);
}

/*footer*/
/*.placeholder {
  position: relative;
  height: 247px;
  background-color: yellow;
  z-index: 1;
}*/

  /*footer*/
  footer {
   z-index: 5;
    min-height: 247px;
    max-height: auto;
  /*  position: fixed;*/
    width: 100%;
   
    background-color: rgb(3, 3, 116);

    color: #ede27b;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
  bottom: 0;
   z-index: 1;
   vertical-align: baseline;
  }
  
  footer::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 12px;
  left: 0;
    top: 0;
    box-shadow:   box-shadow: -2px 15px 5px -6px rgba(0,0,0,0.52) inset;
    -webkit-box-shadow: -2px 15px 5px -6px rgba(0,0,0,0.52) inset;
    -moz-box-shadow: -2px 15px 5px -6px rgba(0,0,0,0.52) inset;
  }
  
  .footer-container {
    
  bottom: 0;
    display: flex;
    justify-content: space-around;
    /*align-items: center;*/
    height: 247px;
  }
  
  .icon-footer {
    fill: #ede27b;
    width: 32px;
    
   
  }
  
  
  
  
  .adress-container {
    
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  footer p {
  
  display: flex;
   
  }
  
  
  .p-adress {
    color: #ede27b;
  
  }
  
  footer a {
    text-decoration: none;
  text-transform: none;
  color: #c1d0ff;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 5px;
  }
  
  footer a:hover {
  color: #cde6e9;
  }
  
  
  
  .facebook-to-hover {
    transition: 0.3s;
  }
  
  .facebook-to-hover:hover {
  fill: #f5f3cc;
  }
  
  
  
  .strazs-img-container {
    width: 40%;
    display: flex;
    align-items: center;
   /* justify-content: center;*/
    
  }
  
  .footer-img-tanya {
    height: 90px;
  }
  
  .vyshyvanka-img-container {
   /*width: 30%;
   display: flex;
   justify-content: flex-end;*/


   display: flex;
   background-image: url('./img/vyshyvanka-bigger.svg');
   background-repeat: repeat-y;
   background-color: white;
   width: 4.1%;
  
   background-size: contain;
   margin-right: 6vw;
  }
  
  .vyshyvanka-img-container img {
    display: flex;
    height: 100%;
    margin-right: 7vw;
  }

